
@{
    ViewBag.Title = "Diversas";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-md-12 well text-center" id="content">
                <h1>Programações Diversas</h1>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->
