@model sistemaPerguntasWeb.Models.Etapas
@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-md-12 well text-center" id="content">
                @foreach (var Nome in Model.GetEtapas())
                {
                    <a class="text-secondary imodal">
                    </a>
                }
                <a class="text-secondary imodal"><h3>Welcome Admin!</h3></a>
                <a class="text-secondary imodal"><h3>Welcome Admin!</h3></a>
                <a class="list-group-item list-group-item-action list-group-item-info imodal">
                    <h1>Welcome Admin!</h1>
                </a>
                <a class="text-danger imodal"><h3>Welcome Admin!</h3></a>
                <a class="text-danger imodal"><h3>Welcome Admin!</h3></a>
            </div>
        </div>
        <!-- /.row -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" id="main">
                    <div class="col-md-12 well" id="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group stylish-input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://www.planalto.gov.br/ccivil_03/leis/L9503Compilado.htm" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->