
@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-md-12 col-md-12 well text-center" id="content">
                <a class="text-muted imodal">
                    <h3>Welcome Admin!</h3><a />
                    <a class="text-muted imodal">
                        <h3>Welcome Admin!</h3><a />
                        <a class="list-group-item list-group-item-action list-group-item-info imodal">
                            <h1>Welcome Admin!</h1>
                        </a>
                        <a class="text-danger imodal"><h3>Welcome Admin!</h3></a>
                        <a class="text-danger imodal"><h3>Welcome Admin!</h3></a>
            </div>
        </div>
        <!-- /.row -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" id="main">
                    <div class="col-md-12 well text-center" id="content">
                        <div class="input-group mb-3 col-md-8">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->