@{
    ViewBag.Title = "MinhasAulas";
    ViewBag.Page = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="col-xs-12 well text-center aulas" id="content">
            <div class="list-group">
                <h1>Minhas aulas de Legislação</h1>
                @Html.Partial("LegislacaoPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 well text-center aulas" id="content">
            <div class="list-group">
                <h1>Minhas aulas de Direção</h1>
                @Html.Partial("DirecaoPartial")
            </div>
        </div>
    </div>
</div>

