@model List<Legislacao> 
@{
    ViewBag.Title = "MinhasAulas";
    ViewBag.Page = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-md-12 col-md-12 well text-center aulas" id="content">
                <div class="list-group">
                    <h1>Minhas aulas de Legislação</h1>
					@foreach (var item in @Model)
					{
	                    <a href="#" class="list-group-item list-group-item-action lista">@item.Descricao</a>
					}
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12 col-md-12 well text-center aulas" id="content">
                <div class="list-group">
                    <h1>Minhas aulas de Direção</h1>

                    <a href="#" class="list-group-item list-group-item-action lista"></a>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->