
@{
    ViewBag.Title = "MinhasAulas";
    ViewBag.Page = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-md-12 col-md-12 well text-center aulas" id="content">
                <div class="list-group">
                    <h1>Minhas aulas de Legislação</h1>

                    <a href="#" class="list-group-item list-group-item-action lista">A simple primary list group item</a>
                    <a href="#" class="list-group-item list-group-item-action lista">A simple secondary list group item</a>
                    <a href="#" class="list-group-item list-group-item-action lista">A simple success list group item</a>
                    <a href="#" class="list-group-item list-group-item-action lista">A simple danger list group item</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12 col-md-12 well text-center aulas" id="content">
                <div class="list-group">
                    <h1>Minhas aulas de Direção</h1>

                    <a href="#" class="list-group-item list-group-item-action lista">A simple primary list group item</a>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->