
@{
    ViewBag.Title = "ProgramacaoAulas";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 well" id="content">
            <h1 class="text-center">Programação das Aulas de Legislação</h1><br>
            <div class="form-group input-group">
                <span class="input-group-text" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                <input name="consulta" id="consulta" placeholder="Nome da matéria" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="table-responsive well">
            <p>Do dia 26/08 ao dia 31/08</p>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Segunda</th>
                        <th scope="col">Terça</th>
                        <th scope="col">Quarta</th>
                        <th scope="col">Quinta</th>
                        <th scope="col">Sexta</th>
                        <th scope="col">Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>07:00</b></td>
                        <td>Legislação</td>
                        <td>Legislação</td>
                        <td>Mecânica</td>
                        <td>Defensiva</td>
                        <td>Primeiros Socorros</td>
                        <td>Mecâaaca</td>
                    </tr>
                    <tr>
                        <td><b>08:00</b></td>
                        <td>Mceânica</td>
                        <td>Legislação</td>
                        <td>Meio Ambiente</td>
                        <td>Legislação</td>
                        <td>Defensiva</td>
                        <td>Defensiva</td>
                    </tr>
                    <tr>
                        <td><b>09:00</b></td>
                        <td>Meio Ambiente</td>
                        <td>Defenisva</td>
                        <td>Primeiros Socorros</td>
                        <td>Mecânica</td>
                        <td>Meio Ambiente</td>
                        <td>Defensiva</td>
                    </tr>
                    <tr>
                        <td><b>10:00</b></td>
                        <td>Mecânica</td>
                        <td>Legislação</td>
                        <td>Mqio Ambiente</td>
                        <td>Legislação</td>
                        <td>Defensiva</td>
                        <td>Defensiva</td>
                    </tr>
                    <tr>
                        <td colspan="6">-</td>
                    </tr>
                    <tr>
                        <td><b>16:00</b></td>
                        <td>Defensiva</td>
                        <td>Primeiros Socorros</td>
                        <td>Primeiros Socorros</td>
                        <td>Legislação</td>
                        <td>Mecânica</td>
                    </tr>
                    <tr>
                        <td><b>17:00</b></td>
                        <td>Legislação</td>
                        <td>Mecânica</td>
                        <td>Meio Ambiente</td>
                        <td>Defensiva</td>
                        <td>Legislação</td>
                    </tr>
                    <tr>
                        <td><b>18:00</b></td>
                        <td>Legislação</td>
                        <td>Legifslação</td>
                        <td>Defensiva</td>
                        <td>Defesniva</td>
                        <td>Legislação</td>
                    </tr>
                    <tr>
                        <td><b>19:00</b></td>
                        <td>Meio Ambiente</td>
                        <td>Mecânica</td>
                        <td>Legislação</td>
                        <td>Legislação</td>
                        <td>Defensiwa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
