
@{
    ViewBag.Title = "ProgramacaoAulas";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" id="main">
            <div class="col-md-12 well text-center" id="content">
                <h1>Programação das Aulas de Legislação</h1><br>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input name="consulta" id="consulta" placeholder="Consultar" type="text" class="form-control">
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Segunda</th>
                            <th scope="col">Terça</th>
                            <th scope="col">Quarta</th>
                            <th scope="col">Quinta</th>
                            <th scope="col">Sexta</th>
                            <th scope="col">Sábado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">07:00</th>
                            <td>Legislação</td>
                            <td>Legislação</td>
                            <td>Mecânica</td>
                            <td>Defensiva</td>
                            <td>Defensiva</td>
                            <td>Mecânica</td>
                        </tr>
                        <tr>
                            <th scope="row">08:00</th>
                            <td>Mecânica</td>
                            <td>Legislação</td>
                            <td>Meio Ambiente</td>
                            <td>Legislação</td>
                            <td>Defensiva</td>
                            <td>Defensiva</td>
                        </tr>
                        <tr>
                            <th scope="row">09:00</th>
                            <td>Meio Ambiente</td>
                            <td>Defensiva</td>
                            <td>Mecânica</td>
                            <td>Mecânica</td>
                            <td>Meio Ambiente</td>
                            <td>Defensiva</td>
                        </tr>
                        <tr>
                            <th scope="row">10:00</th>
                            <td>Mecânica</td>
                            <td>Legislação</td>
                            <td>Meio Ambiente</td>
                            <td>Legislação</td>
                            <td>Defensiva</td>
                            <td>Defensiva</td>
                        </tr>
                        <tr>
                            <td colspan="6">-</td>
                        </tr>
                        <tr>
                            <th scope="row">16:00</th>
                            <td>Defensiva</td>
                            <td>Defensiva</td>
                            <td>Legislação</td>
                            <td>Legislação</td>
                            <td>Mecânica</td>
                        </tr>
                        <tr>
                            <th scope="row">17:00</th>
                            <td>Legislação</td>
                            <td>Mecânica</td>
                            <td>Meio Ambiente</td>
                            <td>Defensiva</td>
                            <td>Legislação</td>
                        </tr>
                        <tr>
                            <th scope="row">18:00</th>
                            <td>Legislação</td>
                            <td>Legislação</td>
                            <td>Defensiva</td>
                            <td>Defensiva</td>
                            <td>Legislação</td>
                        </tr>
                        <tr>
                            <th scope="row">19:00</th>
                            <td>Meio Ambiente</td>
                            <td>Mecânica</td>
                            <td>Legislação</td>
                            <td>Legislação</td>
                            <td>Defensiva</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

