<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="iusConnectionString" connectionString="Password=bdcal12@@;Persist Security Info=True;Connect Timeout=450;User ID=ius;Initial Catalog=Pablo;Data Source=ius-srv-ti01\DEV" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>